@model TechShopping.Models.Product

<div class="well">
    <h3>
        <img src="~/images/@Model.Image">
        <a href="ProductDetail?productId=@Model.ProductID"><strong>@Model.Name</strong></a>
        <span class="pull-right label labelprimary" style="background-color: blue">@Model.Price.ToString("c")</span>
    </h3>
    @using (Html.BeginForm("AddToCart", "Cart"))
    {
        <div class="pull-right">
            @Html.HiddenFor(x => x.ProductID)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            <input type="submit" class="btn btn-success" value="Add to cart" />
        </div>
    }

    <span class="lead"> @Model.Description</span>
</div>
